<h1 mat-dialog-title>New status form</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Status name" required="true" [(ngModel)]="item.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Status description" required="true" [(ngModel)]="item.description">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onClose()">No Thanks</button>
  <button mat-button cdkFocusInitial (click)="create()">Add</button>
</div>
