<mat-toolbar color="primary">Task Manager</mat-toolbar>
<mat-tab-group backgroundColor="primary">
  <mat-tab label="Company">
    <app-company></app-company>
  </mat-tab>
  <mat-tab label="Employee">Test 2</mat-tab>
  <mat-tab label="ImportanceLevel">
    <app-importance-level></app-importance-level>
  </mat-tab>
  <mat-tab label="Role">
    <app-role></app-role>
  </mat-tab>
  <mat-tab label="Status">
    <app-status></app-status>
  </mat-tab>
  <mat-tab label="Subdivision">Test 3</mat-tab>
  <mat-tab label="Tag">
    <app-tag></app-tag>
  </mat-tab>
  <mat-tab label="Task">Test 3</mat-tab>
  <mat-tab label="User"><app-user></app-user></mat-tab>
</mat-tab-group>
